<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Member List</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>

<body>
	<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Simple Todo</a>
		</div>
		
		<div class="collapse navbar-collapse" id="navbarEexample">
			<div class="nav navbar-nav" style="display:flex;">
				  <input type="text" class="form-control"  name="input" id="search-input" placeholder="Search">

				  <button type="submit" class="btn btn-primary" id="searchSubmit">
				  	 <i class="fas fa-search"></i>
				  </button>
			</div>
		</div>
	</div>
</nav>

{% for member in members.items %}
<div class="container">
	<div id="memberSection{{ member.id }}" class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"> No: <span id="memberNumber{{ member.id}}">{{ member.id }}</span></h3>
</div>

<div class="panel-body">
	<div class="form-inline">
		<div class="form-group">

			<label for="nameInput{{ member.id }}"></label>
			<input type="text" class="form-control" id="nameInput{{ member.id }}" value="{{ member.name }}">
		</div>

		<div class="form-group">
			<label for="emailInput{{ member.id }}">content</label>
			<input type="email" class="form-control" id="emailInput{{ member.id }}" value="{{ member.email }}">
		</div>

		<button class="btn btn-primary updateButton" member_id="{{ member.id}}">Update</button>

		<button class="btn btn-primary deleteButton" member_id="{{ member.id}}">Delete</button>

	</div>
</div>
</div>
</div>

{% endfor %}

<div class="container mx-auto">
{% for page_num in members.iter_pages(left_edge=1,right_edge=1, left_current=1,right_current=2) %}
  {% if page_num %}
    {% if members.page == page_num %}
   <a class="btn btn-info mb-4" href="{{ url_for('all',page=page_num) }}"> {{ page_num }}</a>
    {% else %}
       <a class="btn btn-outline-info mb-4" href ="{{ url_for('all',page=page_num) }}">{{ page_num}}</a>
    {% endif %}
   {% else %}
      <p>...</p>
    {% endif %}
    {% endfor %}
</div>


<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="{{ url_for('static', filename='app.js') }}"></script>
<script src="{{ url_for('static', filename='delete.js') }}"></script>
<script src="{{ url_for('static', filename='add.js') }}"></script>
<script src="{{ url_for('static', filename='search.js') }}"></script>

</body>
</html>
